{% extends "todo_base.html" %}
{% load staticfiles %}

{% block todo %}
<div class="row">
    <div class="todo_column_left">
        <div>
            <h4> Plans for long-team </h4>
                <form action="" method="post">{% csrf_token %}
                    {% for field in year_form %}
                        <p>
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                        </p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <input type="submit" name="plan_long_term" value="Add to time-table"/>
                </form>
            </div>

            <div class="table_box">
                <table class="table">
                    <caption>Long-term Scheduler</caption>
                    <tr>
                        <th>Task-ID</th>
                        <th>Task Contents</th>
                        <th>From-To</th>
                        <th>Importance</th>
                        <th>Status</th>
                        <th>Finished(%)</th>
                    </tr>
                    {% for task in tasks_year %}
                    <tr>
                        <td>{{ task.id }}</th>
                        <td>{{ task.task }}</td>
                        <td>{{ task.start_date }} - {{ task.end_date }}</td>
                        <td>{{ task.importance }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.finished }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="change_form">
                    <form action="" method="get">{% csrf_token %}
                        <h4>Update-Tasks</h4>
                        <select name="Choose_Task" >
                            {% for task_id in task_ids %}
                                <option value="">{{ task_id }}</option>
                            {% endfor  %}  
                        </select>
                        <input type="text" value="start-date" name="start_date"/>
                        <input type="text" value="end-date" name="end_date"/><br>
                        <select name="Importance">
                            <option value="general">General</option>
                            <option value="low">Low</option>
                            <option value="middle">Middle</option>
                            <option value="high">High</option>
                        </select>
                        <select name="Status">
                            <option value="not_started">Not-Started</option>
                            <option value="on_going">On-Going</option>
                            <option value="delayed">Delayed</option>
                            <option value="finished">Finished</option>
                            <option value="canceled">Canceled</option>
                        </select><br>
                        <div class="confirm">
                            <input type="reset" name="day_change" value="Reset"/>
                            <input type="submit" name="year_change" value="Update Changes"/>
                        </div>
                    </form>
                </div>

            </div>
                <hr size="5" width="100%">
            </div>
        </div>

        <div class="todo_column_right">
            <h3>Here's a diagram for long-term progress</h3>
        </div>
    </div>
{% endblock %}
