{% extends "todo_base.html" %}
{% load staticfiles %}

{% block todo %}

<div class="row">
        <div class="todo_column_left">
            <div>
                <h4> Plans for today </h4>
                <form action="" method="post">{% csrf_token %}
                    {% for field in day_form %}
                        <p>
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                        </p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <input type="submit" name="plan_today" value="Add to time-table"/>
                </form>
            </div>

            <div class="table_box">
                <table class="table">
                    <caption>Time-table for: {{ current_date }}</caption>
                    <tr>
                        <th>Task-ID</th>
                        <th>Time</th>
                        <th>Task Contents</th>
                        <th>Importance</th>
                        <th>Status</th>
                    </tr>
                    {% for task in tasks_today %}
                    <tr>
                        <td>{{ task.id }} </td>
                        <td>{{ task.task_time }}</td>
                        <td>{{ task.task }}</td>
                        <td>{{ task.importance }}</td>
                        <td>{{ task.status }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="change_form">
                    <form action="" method="get">{% csrf_token %}
                        <h4>Update-Tasks</h4>
                        <select name="Choose_Task" >
                            {% for task_id in task_ids %}
                                <option value="">{{ task_id }}</option>
                            {% endfor  %}  
                        </select>
                        <input type="text" value="Time like 12:20" name="Time"/>
                        <select name="Importance">
                            <option value="general">General</option>
                            <option value="low">Low</option>
                            <option value="middle">Middle</option>
                            <option value="high">High</option>
                        </select>
                        <select name="Status">
                            <option value="not_started">Not-Started</option>
                            <option value="on_going">On-Going</option>
                            <option value="finished">Finished</option>
                            <option value="canceled">Canceled</option>
                        </select><br>
                        <div class="confirm">
                            <input type="reset" name="day_change" value="Reset"/>
                            <input type="submit" name="day_change" value="Update Changes"/>
                        </div>
                    </form>
                </div>

            </div>
            <hr size="5" width="100%">
        </div>

        <div class="todo_column_right">
            <h3>Here's a diagram for day progress</h3>
        </div>

    </div>
{% endblock %}
