{% extends "todo_base.html" %}
{% load staticfiles %}

{% block todo %}

<div class="todo_column_left">
    <div class="plan_box">
        <h4> Plan for <span style="font-size: 20px; color: #c1dd42;">this Month</span></h4>
        <form action="" method="post">{% csrf_token %}
            <table>
                <colgroup>
                    <col width="16%">
                    <col width="60%">
                </colgroup>
                <tr>
                    <td>{{ month_form.task.label_tag }}</td>
                    <td>{{ month_form.task }}</td>
                </tr>

                <tr>
                    <td>Date:</td>
                    <td>
                        <label for="start_date">From </label>
                        <input type="date" id="start_date" name="start_date" value='{{ month_form.start_date }}'/>
                        <label for="end_date"> To </label>
                        <input type="date" id="end_date" name="end_date" value='{{ month_form.end_date }}'/>
                    </td>
                </tr>
                <tr>
                    <td>{{ month_form.importance.label_tag }}</td>
                    <td>{{ month_form.importance }}</td>
                </tr>
            </table>
            <input type="submit" name="plan_this_month" value="Add to time-table"/>
        </form>
    </div>

    <div class="table_box">
        <table class="table">
            <caption>Time-table for Month: {{ current_month }}</caption>
            <colgroup>
                <col width="10%">
                <col width="28%">
                <col width="25%">
                <col width="13%">
                <col width="12%">
                <col width="12%">
            </colgroup>
            <tr>
                <th>Task-ID</th>
                <th>Task Contents</th>
                <th>From-To</th>
                <th>Importance</th>
                <th>Status</th>
                <th>Finished(%)</th>
            </tr>
            {% for task in tasks_this_month %}
                {% if task.importance == 'High' and task.status != 'Finished' %}
                    <tr class="val_high">
                {% elif task.importance == 'Middle' and task.status != 'Finished' %}
                    <tr class="val_middle">
                {% elif task.importance == 'Low' and task.status != 'Finished' %}
                    <tr class="val_low">
                {% elif task.status == 'Finished' %}
                    <tr class="val_finished">
                {% else %}
                    <tr class="val_general">
                {% endif %}
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.start_date }} - {{ task.end_date }}</td>
                    <td>{{ task.importance }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.finished }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="change_form">
        <form action="" name="taskModify" method="post">{% csrf_token %}
            <h4>Update-Tasks</h4>

            <select name="taskId" id="taskId">
                <option selected="selected" disabled>Task-ID</option>
                {% for task_id in task_ids %}
                    <option value='{{ task_id }}'>{{ task_id }}</option>
                {% endfor  %}
            </select>

            <input type="date" value="" name="fromDate"/>->
            <input type="date" value="" name="toDate"/>

            <select name="importance">
                <option selected="selected" disabled>Importance</option>
                {% for import_val in importance_all %}
                    <option value='{{ import_val }}'>{{ import_val }}</option>
                {% endfor %}
            </select>

            <select name="status">
                <option selected="selected" disabled>Status</option>
                {% for status in status_all %}
                    <option value='{{ status }}'>{{ status }}</option>
                {% endfor %}
            </select>

            <select name="finished">
                <option selected="selected" disabled>Finished(%)</option>
                {% for num in finish_vals %}
                    <option value='{{ num }}'>{{ num }}</option>
                {% endfor %}
            </select><br>

            <div class="confirm">
                <input type="reset" name="reset_opts" value="Reset"/>
                <input type="submit" name="month_plan_update" value="Update Changes"/>
            </div>
        </form>
    </div>

    <hr size="5" width="100%">

</div>

<div class="todo_column_right">
    <h3>diagram of last-Month progress</h3>
    <h3>Diagram of this month progress</h3>
</div>
{% endblock %}
