{% extends "base.html" %}
{% load static %}
{% block title %}learning{% endblock %}

{% block topnav %}
    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'learning' %}">learning</a>
        <a href="#">lifeeden</a>
        <a href="#">blog</a>
        <a href="{% url 'todo_today' %}">lifeclock</a>
    </div>
{% endblock %}

{% block body_main %}

    <div class="sidenav">
        {% for item in category %}
            <h4>{{ item }}</h4>
            {% for item in sub_category %}
                <a href="#">{{ item }}</a>
            {% endfor %}
        {% endfor %}
    </div>

   <div class="column_right">
       <a href="{% url 'new' %}"> + New a Doc </a>

       <div class="search_box">
           <form action="/" method="post">{% csrf_token %}
               <input name="search" type="text" value="Search..." />
           </form>
           <input type="submit" value="Submit"/>
       </div>
       <hr>

       <div>
           <p>Most Popular</p>
           {% block most_popular %}

           {% endblock %}
       </div>
       <hr>

       <div>
           <p> Recent posts </p>
           <h4> Sharing is life</h4>
           <h5> Author: Mr. NightGost( handwriting style)</h5>
           <img src="{% static 'images/fly.jpg' %}" alt="my image" />
           <p> bulabulaadvfafa....fdavdvdbf<br>fadafdvaa,.....bulalala</p>
       </div>
       <hr>

    </div>

    <div class="column_main">
        {% for doc in docs %}
            <div class="doc_box">
                <div class="doc_title">
                    <p>{{ doc.title }}</p>
                </div>
                <div class="doc_subtitle">
                    <p>{{ doc.doc_type }}</p>
                    <p>Author: NightGost</p>
                    <p>{{ doc.pub_date }}</p>
                    <p>Viewed: {{ doc.view_num }}</p>
                    <p>Like:  </p>
                </div>
                <div class="doc_content">
                    {{ doc.contents | safe }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}
