<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>straw hat {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo_styles.css' %}" />
    <script type="text/javascript" src="{% static 'js/animate.js' %}"></script>
    {{ form.media }}
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textarea",
            theme: "simple"
        });
    </script>
</head>

<body>

    <div class="header">
        <img src="{% static 'images/logo.PNG' %}" alt="logo" height="60"/>
        <p style="display: inline"> -- live by our ways, but not others (One phrase per day)--</p>
    </div>

    <div>
        {% block topnav %}{% endblock %}
    </div>
    <div>
        {% block body_main %}{% endblock %}
    </div>

    <div>
        {% block footer %}{% endblock %}
    </div>

</body>
</html>
