.todo_main {
    position: relative;
    margin: 60px 4% 0 4%;
}

.todo_column_left {
    float: left;
    width: 60%;
    text-align: left;
    padding: 20px;
}

.todo_column_right {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.sub_topnav {
    overflow: hidden;
    background-color: #fff;
}

.sub_topnav a {
    float: left;
    width: 120px;
    display: inline-block;
    color: #698B69;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    border-radius: 8px;
}

.sub_topnav a:hover {
    background-color: #CAE1FF;
    color: #4d674d;
}

.plan_box {
    padding: 10px;
    position: relative;
}

.plan_box h4 {
    color: #607818;
}

.plan_box table input{
    width: 140px;
    margin: 10px 0px;
}



.table_box {
    padding: 10px 5px;
    margin-top: 30px;
}

.table {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
}

.table caption {
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

.table th {
    background-color: #61728e;
    text-align: center;
}

.table th { color: #fff;}

.table td, th {
    width: auto;
    padding: 6px 12px;
    border: 1px solid #fff;
}


.table td {
    text-align: left;
}

.change_form {
    padding: 8px 4px;
}

.change_form h4 {
    color: #607818;
}

.change_form input, select {
    margin: 4px 8px;
}

.confirm {
    margin-top: 20px;
}

.hr {
    margin-top: 0px;
    width: 60%;
    text-align: left;
}

.chart_box {
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.chart_box .title {
    color: #566b57;
}
.chart_box canvas {
    background-color: #fff;
    border-radius: 8px;
}

.val_high {
    background-color: #ffc05b;
}

.val_middle {
    background-color: #f4f39a;
}

.val_low {
    background-color: #d4f4d7;
}

.val_general {
    background-color: #e0efda;
}

.val_finished {
    background-color: #f2f4f4;
}