<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}" />
    <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="page_mask"></div>
    <div class="header">
        <div class="theme">
            <h2><span><img src="{% static 'images/sfx_logo.png' %}"></span>Scaleflux TcViwer</h2>
        </div>

        <div class="topNav">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% if Demo and user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <p>{{user.username | capfirst}}</p>
            {% else %}
                <a href="#" onclick="login()" id="">Login/SignUp</a>
            {% endif %}
        </div>
    </div>

    <div class="login">
        <button type="button" id="quit" onclick="loginQuit();">x</button><br>
        <img src="{% static 'images/theme.png' %}" alt="theme">
        <div id="login_box">
            <h2>LOGIN</h2>
            <form action="{% url 'login' %}" method="post">{% csrf_token %}
                <input type="text" name="username" placeholder="Username"/><br>
                <input type="password" name="password" placeholder="Password"/><br>
                <button type="submit" name="login">Login</button>
            </form>
            <p>Don't have an account? <span class="change" onclick="loginSwitch('signup')">SIGN UP NOW</span></p>
        </div>

        <div id="signup_box">
            <h2>SIGN UP</h2>
            <form action="{% url 'signup' %}" name="signup" method="post">{% csrf_token %}
                <input type="text" name="username" placeholder="Username"/><br>
                <input type="email" name="email" placeholder="Email"/><br>
                <input type="password" name="password1" placeholder="Password"/><br>
                <input type="password" name="password2" placeholder="Confirm Password"/><br>
                <button type="submit">Sign up</button>
            </form>
            <p>Have an account? <span class="change" onclick="loginSwitch('login')">LOGIN NOW</span></p>
        </div>

    </div>

    <div class="main">
        {% block dashboard %} {% endblock %}
        {% block general_test %} {% endblock %}
        {% block overall_report %} {% endblock %}
        <hr><br>
    </div>
</body>
</html>