{% extends "base.html" %}
{% load staticfiles %}
{% block title %}life eden{% endblock %}

{% block topnav %}
    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'learning' %}">learning</a>
        <a href="{% url 'moment' %}">moment</a>
        <a href="{% url 'todo_today' %}">lifeclock</a>
    </div>
{% endblock %}

{% block body_main %}

    <div class="sidenav">
        {% for item in category %}
            <a href="#">{{ item }}</a>
        {% endfor %}
    </div>

    <div class="column_right">
        <a href="{% url 'new' %}"> + Add New</a>
        <div class="search_box">
           <form action="/" method="post">{% csrf_token %}
               <input name="search" type="text" value="Search..." />
           </form>
           <input type="submit" value="Submit"/>
       </div>

       <hr>

       <p>Most Popular</p>

       {% block most_popular %}{% endblock %}

       <p> Recent post </p>
        <div>
            {{ latest }}
        </div>
    </div>

    <div class="column_main">
         {% for doc in docs %}
            <div class="doc_box">
                <div class="doc_subtitle">
                    <p>{{ doc.doc_type }} | </p>
                    <p>Posted by: NightGost | </p>
                    <p>{{ doc.pub_date }} | </p>
                    <p>Viewed: {{ doc.view_num }} | </p>
                    <p>Like:  </p>
                </div>
                <div class="doc_content">
                    {{ doc.contents | safe }}
                </div>
            </div>
            <hr>
        {% endfor %}

        <div>
            <h2> Sharing is life</h2>
            <p>
                Bula bula.....(Here's gonna be lots of words, so skip them to make our story short)
            </p>
        </div>

        <div >
            {% load static %}
            <img src="{% static 'images/time_steps.jpg' %}" alt="my image" width="400"/>
        </div>
    </div>

{% endblock %}
