<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>straw hat {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <script type="text/javascript" src="{% static 'js/animate.js' %}"></script>
</head>

<body>

    <div class="header">
        <img src="{% static 'images/logo.PNG' %}" alt="logo" height="60"/>
        <p style="display: inline"> -- live by our ways, but not others --</p>
        {% if log_tag == 'login' %}
            <a href="{% url 'login' %}">login</a>
        {% elif log_tag == 'logout' %}
            <a href="{% url 'home' %}">logout</a>
        {% endif %}
    </div>

    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'learning' %}">learning</a>
        <a href="{% url 'lifeeden' %}">lifeeden</a>
        <a href="{% url 'blog' %}">blog</a>
    </div>

    <div>
        {% block body_main %}{% endblock %}
    </div>

    <div>
        {% block footer %}{% endblock %}
    </div>

</body>
</html>
