<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>straw hat {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

</head>

<body>

    <div class="header">
        <img src="{% static 'images/logo.PNG' %}" alt="logo" height="60"/>
        <a href="{% url 'signup' %}">login/signup</a>
    </div>

    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'learning' %}">learning</a>
        <a href="{% url 'lifeeden' %}">lifeeden</a>
        <a href="{% url 'blog' %}">blog</a>
    </div>

    <div>
        {% block body_main %}{% endblock %}
    </div>

    <div>
        {% block footer %}{% endblock %}
    </div>

</body>
</html>