{% extends "base.html" %}
{% load staticfiles %}
{% block title %}blog{% endblock %}

{% block body_main %}
{% load static %}

<div class="sidenav">
    <a href="#">Reading</a>
    <a href="#">Technology</a>
    <a href="#">Own's</a>
</div>

<div class="column_right">
    <div class="search_box">
       <h4>Search here</h4>
       <form action="/" method="post">{% csrf_token %}
           <input name="search" type="text" value="Search..." />
       </form>
       <input type="submit" value="Submit"/>
    </div>
    <p class="title">Most Popular</p>

    {% block most_popular %}{% endblock %}

    <p class="title"> Recent posts </p>
    <h4> Reading...</h4>
    <h5> Author: Mr. NightGost( handwriting style)</h5>
    <img src="{% static 'images/fly.jpg' %}" alt="my image" width="200"/>
    <div>
        <p> bulabulaadvfafa....fdavdvdbf<br>fadafdvaa,.....bulalala</p>
    </div>

    <a href="{% url 'create' %}">New a Blog</a>
</div>

<div class="column_main">
    <div class="contents">
        <h2> Reading time's stories</h2>
        <p>
            Bula bula.....(Here's gonna be lots of words, so skip them to make our story short)
        </p>
    </div>

    <div>
        <img src="{% static 'images/reading.jpg' %}" alt="my image" width="60%"/>
    </div>

    <div class="contents">
        {% for post in posts %}
        <h2>{{ post.title }} </h2>
        <p>{{ post.pub_date }}</p>
        <p>{{ post.body }}</p>
        <p>{{ post.update_time }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
