{% extends "base.html" %}
{% load staticfiles %}
{% block title %} life eden}{% endblock %}

{% block body_main %}

    <div class="sidenav">
        <a href="#">travel</a>
        <a href="#">food</a>
        <a href="#">movies</a>
        <a href="#">music</a>
        <a href="#">albums</a>
    </div>

    <div class="column_right">
        <div class="search_box">
           <h4>Search here</h4>
           <form action="/" method="post">{% csrf_token %}
               <input name="search" type="text" value="Search..." />
           </form>
           <input type="submit" value="Submit"/>
       </div>

       <p class="title">Most Popular</p>

       {% block most_popular %}{% endblock %}

       <p> Recent post </p>
    </div>

    <div class="column_main">
        <div>
            <h2> Sharing is life</h2>
            <p>
                Bula bula.....(Here's gonna be lots of words, so skip them to make our story short)
            </p>
        </div>

        <div >
            {% load static %}
            <img src="{% static 'images/time_steps.jpg' %}" alt="my image" width="400"/>
        </div>
    </div>

{% endblock %}
