<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <style>
    </style>
</head>

<body>
    <div id="signup_body">
    <div id="signup">
        <p>Login</p>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>{{ field }}
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
        <button type="submit" id="button">login</button>
        <a href="{% url 'signup' %}">Without an account?</a>
        <input type="hidden" name="next" value="{{ next }}"/>
       </form>
    </div>
    </div>
</body>
</html>