<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div style="margin-left: 100px; margin-right: 100px">
        <h1 style="background-color: rgba(0,0,222,0.4); padding: 20px; color: rgba(100,0,0,0.6)">
            Blog Home Page
        </h1>

        <div style="text-align: center; padding: 40px">
            <form action="/blog/signup/" method="post">{% csrf_token %}
                User name:<input type="text" name="your_name" value="" maxlength="100"/><br><br>
                Email: <input type="email" name="email"/><br><br>
                Password: <input type="password" name="Password"/><br><br>
                Confirm: <input type="password" name="confirm"/><br><br>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</body>
</html>